div.paging {
	padding: 7px 10px 7px 10px;
	margin: 2px;
	font-family: Tahoma;
	font-size: 12px;
}

div.paging a {
	padding: 7px 10px 7px 10px;
	margin-right: 2px;
	border: 1px solid #9AAFE5;
	text-decoration: none;
	color: #2E6AB1;
}

div.paging span.current {
	padding: 7px 10px 7px 10px;
	padding: 2px;
	margin-right: 1px solid navy;
	font-weight: bold;
	background-color: #2E6AB1;
	color: #FFFFFF;
}
div.paging span.disabled {
	padding: 7px 10px 7px 10px;
	margin-right: 2px;
	border: 1px solid #999999;
	color: #999999;
}

div.paging span.prevnext {
	font-weight: bold;

}